html, body {
    font-family: 'Raleway', sans-serif;
    color: #000;
    margin: 0;
}


/* Header */
.header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 0 35px 0 35px;
}

.logo img{
    width: 100%;
    height: 50px;
    object-fit: cover;
}

.nav {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.nav-link {
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 37px;
}

.nav-link a {
    width: 150px;
    height: 100px;
    margin: 0 auto;
    text-decoration: none;
    color: #000;
    padding: 35px 15px 0 15px;
}

.nav-link a:hover, .nav-link a:focus {
    border-top: solid 4px #0065FC;
    color: #0065FC;
}


/* Main */
#banner {
    margin: 0 35px 0 35px;
}

#banner h2 {
    margin-bottom: 10px;
    font-weight: bold;
}

#banner p {
    margin-top: 10px;
}


/* Search Bar */
#search-bar {
    display: inline-flex;
    width: auto;
    height: 50px;
}

#search-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px;
}

#search-logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-txt {
    border: none;
    width: 230px;
    height: 45px;
    color: #000;
}

#search-txt::placeholder {
    color: #000;
    font-weight: bold;
    padding-left: 15px;
}

#search-btn {
    border: none;
    height: 100%;
    width: 140px;
    background-color: #0065FC;
    color: #fff;
    font-weight: bold;
    font-size: large;
    border-radius: 0 15px 15px 0;
}

#search-btn:hover {
    background-color: #0065fcb2;
}

/* Filtre Bar */
#filtre {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    margin-top: 25px;
    align-items: center;
}

#filtre h3 {
    width: 100px;
}

 #filtre-bar {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
 }

 .filtre-btn {
    margin-right: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    text-align: center;
    border: 3px solid #e4e3e3;
    border-radius: 50px;
    width: auto;
 }

 .filtre-btn:hover {
    background-color: #d6e7ff;
    border: 3px solid #d6e7ff;
    cursor: pointer;
 }

 .filtre-btn i {
    color: #0065FC;
    background-color: #d6e7ff;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .filtre-btn span {
     font-weight: 600;
     margin: 0 20px 0 20px;
 }

 /* info bar */
.info {
    margin-top: 40px;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.info i {
    color: #0065FC;
    border: 1px solid #e4e3e3;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* hebergement */
#principal {
    margin: 30px 35px 0 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#hebergements {
    border-radius: 20px;
    background-color: #f2f2f2;
    width: 880px;
    height: 590px;
}

#hebergements h2 {
    font-weight: bold;
    font-size: 18px;
    padding: 30px 35px 10px 35px;
}

.heberg-list {
    display: flex;
    flex-direction: row;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    gap: 30px;
}

.card-marseille {
    background-color: #fff;
    border-radius: 20px;
    width: 230px;
    height: 190px;
    box-shadow: rgba(0, 0, 0, 0.082) 2px 2px;
    transition: all 0.3s ease;
}

.card-marseille:hover {
    background-color: #f2f2f2;
}

.card-marseille img {
    overflow: auto;
    width: 97%;
    height: 55%;
    object-fit: cover;
    padding-left: 3px;
    padding-top: 3px;
    border-radius: 20px 20px 0 0;
}

.card-pres {
    width: 100%;
    height: 100%;
}

.card-pres h4 {
    margin: 4px 0 2px 15px;
}

.card-pres p {
    margin: 4px 0 2px 15px;
}

.card-pres span {
    font-weight: bold;
}

.rating {
    width: 100%;
    margin: 4px 0 2px 15px;
}

.rateup {
    color: #0065FC;
}

.ratedown {
    color: #d6d6d6;
}

.more {
    margin: 30px 0 30px 40px;
}

.more a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

/* Side Populaires */
#populaires {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 490px;
    height: 590px;
}

#populaires h2 {
    font-weight: bold;
    font-size: 20px;
    padding: 30px 35px 10px 35px;
}

/* Activites Section */
#activites {
    margin: 30px 35px 0 35px;
}

/*

#search-form .search_txt::placeholder {
    color: #000;
    font-weight: bold;
}

#search-form .search_btn {
    width: 130px;
    height: 40px;
    border: none;
    background-color: #0065FC;
    color: #fff;
    font-weight: bold;
} */