* {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

body {
    color: #000;
    margin: 0;
}

a {
    cursor: pointer;
    color: #000;
}

/* header */
header {
    margin: 18px 45px 18px 45px;
}

.logo img{
    height: 55px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-link a {
    color: #000;
    padding: 35px 30px;
}

.nav-link a:hover {
    border-top: 3px solid #0065fc;
    margin-top: 0;
    color: #0065fc;
}

/* Banner Block */
#banner {
    margin: 0 45px 0 45px;
}

.title {
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 23px;
}

.title-under {
    margin-top: 0;
}

/* Search Bar */
#search-bar {
    display: inline-flex;
    width: auto;
    height: 50px;
}

#search-form {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: center;
}

#search-logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    border-radius: 20px 0 0 20px;
}

#search-txt {
    width: 230px;
    height: 46px;
    color: #000;
    border: 1px solid #f2f2f2;
}

#search-txt::placeholder {
    color: #000;
    font-weight: bold;
    padding-left: 15px;
}

#search-btn {
    border: none;
    height: 100%;
    width: 140px;
    background-color: #0065FC;
    color: #fff;
    font-weight: bold;
    font-size: large;
    border-radius: 0 15px 15px 0;
}

.search-icon{
    display: none;
}

#search-btn:hover {
    background-color: #0065fcb2;
    cursor: pointer;
}

/* Filtre bar */
#filtre {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    margin-top: 25px;
    align-items: center;
}

#filtre h3 {
    width: 100px;
}

#filtre-bar {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.filtre-btn {
    margin-right: 20px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    text-align: center;
    border: 2px solid #d9d9d9;
    border-radius: 50px;
    width: auto;
}

.filtre-btn:hover {
    background-color: #deebff;
    border: 2px solid #d6e7ff;
    cursor: pointer;
}

.filtre-icon {
    color: #0065fc;
}

.fa-heart, .fa-money-bill-wave, .fa-child, .fa-dog {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 45px;
     height: 45px;
     border-radius: 50%;
     background-color: #deebff;
     margin: -2px 0 -2px -2px;
}

.filtre-btn span {
     font-weight: bold;
     margin: 0 15px 0 15px;
}

/* info bar */
.info {
    margin-top: 40px;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.info i {
    color: #0065FC;
    border: 1px solid #e4e3e3;
    border-radius: 50px;
    height: 20px;
    width: 28px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* Main */
main {
    margin: 0 30px 20px 30px;
}

#principal {
    display: flex;
    margin: 35px 0 20px 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

/* Hebergement Block */
#hebergements {
    border-radius: 20px;
    background-color: #f2f2f2;
    width: 65%;
    height: auto;
    box-sizing: content-box;
    overflow: auto;
}

#hebergements h2 {
    font-weight: bold;
    padding: 25px 35px 0 35px;
}

.heberg-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.heberg-list1, .heberg-list2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    width: 97%;
    gap: 0px;
}

.card-marseille {
    background-color: #fff;
    border-radius: 20px;
    width: 30%;
    height: 235px;
    box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.2);
}

.card-marseille:hover {
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 1px 1px 15px #0065FC;
}

.card-marseille img {
    overflow: auto;
    width: 97%;
    height: 62%;
    object-fit: cover;
    padding-left: 4px;
    padding-top: 5px;
    border-radius: 20px 20px 0 0;
}

.card-pres {
    width: 100%;
    height: auto;
}

.card-pres h4 {
    margin: 10px 0 2px 15px;
}

.card-pres p {
    margin: 4px 0 2px 15px;
    font-size: 14px;
}

.prix {
    font-weight: bold;
}

.rating-heberg {
    width: 100%;
    margin: 4px 0 0 15px;
}

.rateup {
    color: #0065FC;
}

.ratedown {
    color: #d6d6d6;
}

.more {
    margin: 20px 0 40px 30px;
}

.more a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.more a:hover {
    text-decoration: underline;
}

/* Populaire Block */
#populaires {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 30%;
    height: auto;
}

.pop-title {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px 5px 35px;
}

.pop-title h2 {
    font-weight: bold;
}

.pop-list {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: auto;
    flex-wrap: nowrap;
    align-items: center;
}

.pop-card {
    height: 150px;
    width: 85%;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin: 10px 0 30px 0;
    overflow: auto;
    box-shadow: 0px 3px 5px 3px rgb(0 0 0 / 10%);
}

.pop-card:hover {
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 1px 1px 15px #0065FC;
}

.pop-card img {
    border-radius: 20px 0 0 20px;
    padding: 5px 30px 5px 5px;
    width: 34%;
    object-fit: cover;
}

/* Activites Block */
#activites {
    height: 90%;
    margin: 0 30px 50px 30px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
}

.activites-list {
    display: flex;
    justify-content: space-around;
}

.activites-left {
    width: 48%;
    display: flex;
    gap: 39px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.activites-right {
    width: 48%;
    display: flex;
    gap: 39px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.activite-double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Activites left Block */
.activite1, .activite4 {
    height: 384px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.2);
}

.activite1 img, .activite4 img {
    width: 337px;
    height: 90%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activite1 h3, .activite4 h3 {
    margin: 14px 0 20px 20px;
    font-size: 14px;
}

.activite2 {
    height: 200px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.activite2 img {
    width: 366px;
    height: 75%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activite2 h3 {
    margin: 10px 0 10px 20px;
    font-size: 14px;
}

.activite3 {
    height: 140px;
    border-radius: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.activite3 img {
    width: 366px;
    height: 69%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activite3 h3 {
    margin: 10px 0 10px 20px;
    font-size: 14px;
}

/* Activites Right Block */
.activite5, .activite6 {
    height: 170px;
    border-radius: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.2);
}

.activite5 img, .activite6 img {
    width: 366px;
    height: 69%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activite5 h3, .activite6 h3 {
    margin: 14px 0 20px 20px;
    font-size: 14px;
}

#activites .activite1:hover, .activite2:hover, .activite3:hover, .activite4:hover, .activite5:hover, .activite6:hover {
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 2px 3px 5px 3px rgba(0, 0, 0, 0.2);
}

/* Footer Block */
footer{
    display: flex;
    background-color: #F2F2F2;
    font-size: 14px;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    gap: 17%;
    align-content: center;
    padding: 20px 45px 18px 45px;
}

footer a{
    color: #000;
    margin: 0;
    padding: 0;
}

footer a:hover{
    cursor: pointer;
    color: #0065FC;
}

.footerleft, .footermiddle, .footerright{
    display: flex;
    gap: 13px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.footerleft h3, .footermiddle h3, .footerright h3{
    margin: 0;
}

.footerleft a, .footermiddle a, .footerright a{
    margin: 0;
}

/* MEDIA QUERIES */
/* Media for Big screen */
@media screen and (min-width: 2560px) {
    /* Adjusting the main container to be small */
    main {
        width: 63%;
        margin: auto;
    }

    .search-icon{
        display: none;
    }
}

@media screen and (max-width: 1440px) {
    .activites-list {
        display: flex;
        justify-content: flex-start;
        gap: 35px;
    }

    .activite1 img, .activite4 img {
        width: 300px;
    }

    .activite-double {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .activite2 img, .activite3 img {
        width: 290px;
    }

    .activite5 img, .activite6 img {
        width: 290px;
    }

    .search-icon{
        display: none;
    }

}

@media screen and (max-width: 1024px) {
    header {
        margin: 18px;
    }

    /* Hebergement Block */
    #hebergements {
        height: 100%;
    }

    .card-marseille {
        width: 180px;
        height: 200px;
    }

    .card-pres h4 {
        font-size: 15px;
        margin: 1px 0 2px 15px;
    }

    .more {
        margin: 0 0 20px 30px;
    }

    /* Populaire Block */
    #populaires {
        height: 100%;
    }
    .pop-card {
        width: 80%;
        height: 134px;
        margin: 0px 0 30px 0;
    }

    .pop-card img {
        padding-right: 7px;
     }

    .pop-title{
        font-size: 12px;
    }

    .pop-pres h4{
        font-size: 14px;
        margin-bottom: 2px;
    }

    #activites {
        height: 90%;
        margin: 0 15px 50px 21px;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
    }

    .activite4 h3 {
        font-size: 13px;
        margin-bottom: 2px;
    }

    .pop-pres p {
        font-size: 13px;
        margin: 2px;
    }

    .activite-double {
        display: flex;
        flex-direction: column;
    }

    .activites-right {
        width: 50%;
        display: flex;
        gap: 23px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .activites-left {
        width: 50%;
        display: flex;
        gap: 26px;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .activite1 h3, .activite4 h3 {
        margin: 7px 0 0 10px;
    }

    .activite5 h3, .activite6 h3 {
        margin: 11px 0 0px 3px;
        font-size: 14px;
    }

    .activite1 img, .activite4 img {
        width: 215px;
    }

    .activite2 img, .activite3 img {
        width: 205px;
    }

    .activite5 img, .activite6 img {
        width: 206px;
    }

    .search-icon{
        display: none;
    }
}

/* Tablet Responsive*/
@media screen and (max-width: 768px) {

    #filtre {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: flex-start;
        margin-top: 25px;
        align-items: flex-start;
    }

    .search-icon{
        display: none;
    }

    #banner {
        margin: 0px 0 0 20px;
    }

    #filtre {
        margin-top: 13px;
    }

    main {
        margin: 0;
    }

    #principal {
        display: flex;
        margin: 35px 0 20px 0;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-content: flex-start;
        align-items: center;
    }

    /* Hebergements Mobile */
    #hebergements {
        height: 100%;
        width: 100%;
        background-color: #fff;
    }

    /* Populaire Mobile */
    #populaires {
        height: 100%;
        width: 100%;
        border-radius: 0;
    }

    .pop-title {
        font-size: 21px;
        padding: 20px 20px 5px 20px;
    }

    .pop-card {
        width: 90%;
        height: 185px;
        margin: 0px 0 30px 0;
    }

    .pop-card img {
        width: 40%;
    }

    .pop-pres {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
    }

    .pop-pres h4 {
        font-size: 20px;
    }

    .pop-pres p {
        font-size: 18px;
        margin-top: -63px;
    }

    .rating-pop {
        margin-bottom: 15px;
    }

    /* Hebergement Mobile */
    #hebergements h2 {
        padding: 20px 20px 5px 20px;
    }

    .heberg-list {
        gap: 20px;
    }

    .heberg-list1, .heberg-list2 {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;
        width: 99%;
        gap: 20px;
    }

    .card-marseille {
        width: 90%;
        height: 260px;
    }

    .card-marseille img {
        overflow: auto;
        width: 98%;
        height: 67%;
        object-fit: cover;
        padding-left: 7px;
        padding-top: 5px;
        border-radius: 20px 20px 0 0;
    }

    .card-pres h4 {
        font-size: 18px;
    }

    .card-pres p {
        font-size: 17px;
    }

    .more {
        margin: 40px 0 20px 20px;
    }

    .more a {
        font-size: 24px;
    }

    /* Activites Mobile */
    #activites {
        height: 90%;
        margin: 0 30px 50px 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .activites-list {
        display: flex;
        justify-content: flex-start;
        gap: 0;
    }

    .activites-left {
        width: 50%;
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-content: center;
    }

    .activites-right {
        width: 50%;
        display: flex;
        gap: 30px;
        flex-direction: column;
        align-items: center;
    }

    .activite-double {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .double-right {
        gap: 39px;
    }

    .activite1 img, .activite4 img {
        width: 309px;
    }

    .activite2, .activite3 {
        height: 170px;
    }

    .activite2 img, .activite3 img {
        width: 309px;
    }

    .activite5 img, .activite6 img {
        width: 309px;
    }
}

/* Mobile responsive */
@media screen and (max-width: 767px) {
    .header {
        margin: 0;
    }

    .logo {
        width: 100%;
        text-align: center;
    }

    .logo img {
        margin-top: 20px;
    }

    /* Nav-Bar */
    .nav-bar {
        display: flex;
        flex-direction: column;
    }

    .nav-list {
        position: relative;
        padding: 0;
        margin: 0;
    }

    .nav-link {
        display: flex;
        justify-content: space-between;
        margin-top: 32px;
        width: 100%;
        padding: 0;
    }

    .nav-link a {
        display: block;
        width: 100%;
        padding: 0 0 17px 0;
        text-align: center;
        border-bottom: 3px solid #F2F2F2;
    }

    .nav-link a:hover {
        border-top: none;
        border-bottom: 3px solid #0065FC;
    }

    /* Banner Block */
    #banner {
        margin: 0;
    }

    .title {
        margin: 20px;
    }

    .title-under {
       margin: 20px;
    }

    /* Search Block */
    #search-bar {
        width: 100%;
    }
    
    #search-form {
        width: 100%;
        justify-content: center; 
        margin-left: 10px;
    }
    #search-btn{
        display: none;
    }

    #search-txt {
        width: 70%;
    }

    .search-icon {
        position: relative;
        left: -15px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0065fc;
        border-radius: 20px;
    }

    .search-icon:hover {
        background-color: #0065fcb2;
        cursor: pointer;
    }

    .search-icon i {
        color: #fff;
    }

    /* Filtres Block */
    #filtre {
        margin: 20px;
    }

    #filtre-bar {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 12px 10px;
    }

    .filtre-btn {
        margin-right: 7px;
    }

    .info {
        margin: 29px 20px 29px 20px;
    }

    /* Principal Block */
    #principal {
        margin: 0;
    }

    /* Populaire Block */
    .pop-title {
        font-size: 14px;
        padding: 20px 20px 0 20px;
    }

    .pop-list {
        margin-bottom: 20px;
    }

    .pop-card {
        width: 92%;
        height: 134px;
        margin: 0px 0 10px 0;
    }

    .pop-card img {
        width: 37%;
    }

    .pop-pres {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .pop-pres h4 {
        font-size: 19px;
        margin: 0;
    }

    .pop-pres p {
        margin: 0;
        margin-top: -24px;
        font-size: 16px;
    }

    /* Hebergement Block */
    #hebergements h2 {
        font-weight: bold;
        padding: 20px 0 0 14px;
    }

    .heberg-list {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: center;
        gap: 0;
    }

    .heberg-list1, .heberg-list2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: space-around;
        flex-wrap: wrap;
        gap: 10px;
        width: 97%;
        margin-bottom: 10px;
    }

    .card-marseille {
        width: 95%;
        height: 199px;
    }

    .card-marseille img {
        padding-left: 6px;
        padding-top: 7px;
        width: 97%;
        height: 60%;
    }

    .card-pres p {
        font-size: 15px;
    }

    /* More Block */
    .more {
        margin: 19px 0 25px 20px;
    }

    .more a {
        font-size: 17px;
        font-weight: bold;
    }

    /* Activites Block */ 
    #activites {
        height: inherit;
        margin: 0;
    }

    #activites h2 {
        padding: 20px 0 0 14px;
    }

    .activites-list {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        width: 100%;
        gap: 25px;
        margin-bottom: 50px;
    }

    .activite-double {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 25px;
    }

    .activites-left, .activites-right {
        width: 100%;
        display: flex;
        gap: 25px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .activite1, .activite4 {
        width: 90%;
        height: 190px;
    }

    .activite2, .activite3, .activite5, .activite6 {
        width: 90%;
        margin-bottom: 0;
        margin-top: 0;
    }

    .activite1 img, .activite4 img {
        width: 100%;
        height: 72%;
    }

    .activite2 img, .activite3 img, .activite5 img, .activite6 img {
        width: 100%;
        height: 72%;
    }

    .activite1 h3, .activite4 h3 {
        font-size: 18px;
        font-weight: bolder;
        margin: 10px 0 0 15px;
    }

    .activite2 h3, .activite3 h3, .activite5 h3, .activite6 h3 {
        font-size: 18px;
        font-weight: bolder;
        margin: 10px 0 0 15px;
    }

    /* Footer Block */
    footer {
        display: flex;
        background-color: #F2F2F2;
        flex-direction: column;
        align-items: flex-start;
        gap: 29px;
        align-content: flex-start;
        padding: 33px 0 25px 20px;
        flex-wrap: wrap;
    }

    .footerleft, .footermiddle, .footerright {
        display: flex;
        gap: 9px;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-start;
    }

    .footerleft h3, .footermiddle h3, .footerright h3 {
        margin-bottom: 8px;
    }

    .footerleft a, .footermiddle a, .footerright a {
        font-size: 18px;
    }
    
}