* {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

body {
    color: #000;
    margin: 0;
}

a {
    cursor: pointer;
    color: #000;
}

/* header */
header {
    margin: 18px 45px 18px 45px;
}

.logo img{
    height: 55px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.nav-link a {
    color: #000;
    padding: 35px 30px;
}

.nav-link a:hover {
    border-top: 3px solid #0065fc;
    margin-top: 0;
    color: #0065fc;
}

/* Banner Block */
#banner {
    margin: 0 45px 0 45px;
}

.title {
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 23px;
}

.title-under {
    margin-top: 0;
}

/* Search Bar */
#search-bar {
    display: inline-flex;
    width: auto;
    height: 50px;
}

#search-form {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 15px;
}

#search-logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-txt {
    border: none;
    width: 230px;
    height: 45px;
    color: #000;
}

#search-txt::placeholder {
    color: #000;
    font-weight: bold;
    padding-left: 15px;
}

#search-btn {
    border: none;
    height: 100%;
    width: 140px;
    background-color: #0065FC;
    color: #fff;
    font-weight: bold;
    font-size: large;
    border-radius: 0 15px 15px 0;
}

#search-btn:hover {
    background-color: #0065fcb2;
    cursor: pointer;
}

/* Filtre bar */
#filtre {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    margin-top: 25px;
    align-items: center;
}

#filtre h3 {
    width: 100px;
}

#filtre-bar {
display: flex;
align-items: center;
align-content: center;
flex-direction: row;
justify-content: space-evenly;
}

.filtre-btn {
margin-right: 20px;
display: flex;
align-items: center;
align-content: center;
flex-direction: row;
text-align: center;
border: 2px solid #d9d9d9;
border-radius: 50px;
width: auto;
}

.filtre-btn:hover {
background-color: #deebff;
border: 2px solid #d6e7ff;
cursor: pointer;
}

.filtre-icon {
    color: #0065fc;
}

.fa-heart, .fa-money-bill-wave, .fa-child, .fa-dog {
     position: relative;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 45px;
     height: 45px;
     border-radius: 50%;
     background-color: #deebff;
     margin: -2px 0 -2px -2px;
}

.filtre-btn span {
     font-weight: bold;
     margin: 0 15px 0 15px;
}

/* info bar */
.info {
    margin-top: 40px;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.info i {
    color: #0065FC;
    border: 1px solid #e4e3e3;
    border-radius: 50px;
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

/* Main */
main {
    margin: 0 30px 20px 30px;
}

#principal {
    display: flex;
    margin: 35px 0 20px 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
}

/* Hebergement Block */
#hebergements {
    border-radius: 20px;
    background-color: #f2f2f2;
    width: 63%;
    height: auto;
    box-sizing: content-box;
    overflow: auto;
}

#hebergements h2 {
    font-weight: bold;
    padding: 25px 35px 0 35px;
}

.heberg-list {
    display: flex;
    flex-direction: column;
    justify-items: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.heberg-list1, .heberg-list2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.card-marseille {
    background-color: #fff;
    border-radius: 20px;
    width: 230px;
    height: 210px;
    margin: 0 15px 15px 15px ;
    box-shadow: rgba(0, 0, 0, 0.082) 2px 2px;
}

.card-marseille:hover {
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 1px 1px 15px #0065FC;
}

.card-marseille img {
    overflow: auto;
    width: 97%;
    height: 50%;
    object-fit: cover;
    padding-left: 4px;
    padding-top: 5px;
    border-radius: 20px 20px 0 0;
}

.card-pres {
    width: 100%;
    height: auto;
}

.card-pres h4 {
    margin: 10px 0 2px 15px;
}

.card-pres p {
    margin: 4px 0 2px 15px;
    font-size: 14px;
}

.card-pres span {
    font-weight: bold;
}

.rating-heberg {
    width: 100%;
    margin: 4px 0 0 15px;
}

.rateup {
    color: #0065FC;
}

.ratedown {
    color: #d6d6d6;
}

.more {
    margin: 20px 0 40px 30px;
}

.more a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
}

.more a:hover {
    text-decoration: underline;
}

/* Populaire Block */
#populaires {
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 30%;
    height: auto;
}

.pop-title {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 35px 5px 35px;
}

.pop-title h2 {
    font-weight: bold;
}

.pop-list {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: auto;
    flex-wrap: nowrap;
    align-items: center;
}

.pop-card {
    height: 150px;
    width: 85%;
    border-radius: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    margin: 10px 0 30px 0;
    overflow: auto;
}

.pop-card:hover {
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 1px 1px 15px #0065FC;
}

.pop-card img {
    border-radius: 20px 0 0 20px;
    padding: 5px 30px 5px 5px;
    width: 34%;
    object-fit: cover;
}

/* Activites Block */
#activites {
    height: 90%;
    margin: 0 30px 50px 30px;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: center;
}

.activites-list {
    display: flex;
    justify-content: space-between;
}

.activites-left {
    width: 48%;
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.activites-right {
    width: 48%;
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.activite-double {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Activites left Block */
.activite1, .activite4 {
    height: 380px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: #99999923 2px 4px;
}

.activite1 img, .activite4 img {
    width: 260px;
    height: 86%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activite1 h3, .activite4 h3 {
    margin: 14px 0 20px 20px;
    font-size: 14px;
}

.activite2 {
    height: 200px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: #99999923 2px 4px;
    margin-bottom: 20px;
}

.activite2 img {
    width: 310px;
    height: 75%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activite2 h3 {
    margin: 10px 0 10px 20px;
    font-size: 14px;
}

.activite3 {
    height: 140px;
    border-radius: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: #99999923 2px 4px;
    margin-top: 20px;
}

.activite3 img {
    width: 310px;
    height: 69%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activite3 h3 {
    margin: 10px 0 10px 20px;
    font-size: 14px;
}

/* Activites Right Block */
.activite5, .activite6 {
    height: 170px;
    border-radius: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: #99999923 2px 4px;
}

.activite5 img, .activite6 img {
    width: 310px;
    height: 69%;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.activite5 h3, .activite6 h3 {
    margin: 14px 0 20px 20px;
    font-size: 14px;
}

#activites .activite1:hover, .activite2:hover, .activite3:hover, .activite4:hover, .activite5:hover, .activite6:hover {
    opacity: 0.7;
    cursor: pointer;
    box-shadow: 1px 1px 15px #0065FC;
}

/* Footer Block */
footer{
    display: flex;
    background-color: #F2F2F2;
    font-size: 12px;
    height: 100%;
    flex-direction: row;
    align-items: flex-start;
    gap: 17%;
    align-content: center;
    padding: 20px 45px 18px 45px;
}

footer a{
    color: #000;
    margin: 0;
    padding: 0;
}

footer a:hover{
    cursor: pointer;
    color: #0065FC;
}

.footerleft, .footermiddle, .footerright{
    display: flex;
    gap: 13px;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}

.footerleft h3, .footermiddle h3, .footerright h3{
    margin: 0;
}

.footerleft a, .footermiddle a, .footerright a{
    margin: 0;
}


/* Media for Big screen */
@media screen and (min-width: 2560px) {
    /* Adjusting the main container to be small */
    main {
        width: 66%;
        margin: auto;
    }
}

@media screen and (max-width: 1024px) {
    header {
        margin: 18px;
    }

    /* Hebergement Block */
    #hebergements {
        height: 100%;
    }

    .card-marseille {
        width: 170px;
        height: 200px;
    }

    .more {
        margin: 0 0 20px 30px;
    }

    /* Populaire Block */
    #populaires {
        height: 100%;
    }
    .pop-card {
        width: 80%;
        height: 134px;
    }

    .pop-card img {
        padding-right: 7px;
     }

    .pop-title{
        font-size: 12px;
    }

    .pop-pres h4{
        font-size: 14px;
        margin-bottom: 2px;
    }

    .pop-pres p {
        font-size: 13px;
        margin: 2px;
    }

}